@CHARSET "UTF-8";

body {
	background-color: #393F57;
	background-image: url("../img/road-l.jpg"), url("../img/road-r.jpg");
	background-position: left, right;
	background-repeat: no-repeat, no-repeat;
	background-size: contain, contain, contain;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
	background-color: #66dded;
	border-radius: 5px;
	width: 57%;
	margin-left: auto;
	margin-right: auto;
}

ul li {
	display: inline-block;
	font-size: 18px;
}

li a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

ul a:hover, .selected {
	background-color: aqua;
	border-radius: 5px;
	border: 2px solid maroon;
	margin: -2px;
}

h1 {
	display: inline-block;
	text-align: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

h1 a {
	color: #E3E1CA;
	font-size: 200%;
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

img {
	vertical-align: middle;
}

h2 {
	text-align: center;
}

hr {
	border: solid 1px maroon;
	width: 57%;
	margin-left: auto;
	margin-right: auto;
}

.main {
	display: inline-block;
	border-left: double maroon;
	padding-left: 1.33%;
	margin-left: 19.95%;
	border-right: double maroon;
	padding-right: 1.33%;
	margin-right: 19.95%;
	padding-bottom: 1.33%;
}

.dot_logo {
	color: maroon;
}

.top-menu li {
	font-size: 16px;
}

.quick_search, .search_main, .publish_main {
	background-color: #66dded;
	border: 2px solid maroon;
	border-radius: 5px;
	padding: 10px;
	margin-right: 10px;
	width: 47%;
	display: inline-block;
}

.publish_main {
	display: inline-block;
	border-left: double maroon;
	width: 54%;
	padding-left: 1.33%;
	margin-left: 21.5%;
	border-right: double maroon;
	padding-right: 1.33%;
	margin-right: 21.5%;
	padding-bottom: 1.33%;
}

h3 {
	text-align: center;
}

.quick_search {
	height: 479px;
}

.main-category {
	display: inline-block;
	text-align: left;
}

.menu_category {
	display: inline-block;
	width: 402px;
	text-align: left;
	float: left;
}

form {
	display: inline-block;
	background-color: #66dded;
}

.quick_left {
	width: 199px;
	text-align: left;
	float: left;
}

.quick_right {
	width: 199px;
	text-align: left;
	float: left;
}

.price {
	width: 195px;
	text-align: left;
	float: left;
}

.search_line {
	width: 406px;
	line-height: 30px;
	vertical-align: top;
}

#space {
	height: 9.5%;
}

.full_search {
	color: black;
	margin-right: 69px;
	text-decoration: none;
	border-bottom: solid 2px black;
}

.full_search:hover {
	border-bottom: solid 2px maroon;
}

.button {
	width: 201px;
	text-align: center;
	float: right;
	margin-bottom: -5px;
}

.main_right {
	float: right;
}

table, .sign_form {
	border: solid 2px maroon;
	border-radius: 5px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	width: 407px;
	margin-left: 10px;
	margin-right: auto;
	background-color: #66dded;
}

table {
	margin-bottom: 5px;
}

table th {
	font-size: 150%;
	vertical-align: bottom;
}

table td {
	font-size: 150%;
	vertical-align: top;
}

.sign_form {
	width: 405px;
	vertical-align: middle;
	text-align: center;
}

button {
	width: 190px;
	margin-top: 60%;
}

.main_right {
	display: inline-block;
}

button, .button {
	border-radius: 5px;
}

button:hover, .button:hover {
	border: 2px solid maroon;
}

.dealerships-by-letter {
	width: 960px;
}

.dealerships-by-letter tr th, .dealerships-by-location h4 {
	font-size: 20px;
}

.dealerships-by-letter a, .dealerships-by-letter td {
	font-size: 16px;
}

.dealerships-by-letter, .dealerships-by-location, .search-form {
	border-radius: 5px;
	width: 860px;
	vertical-align: middle;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.dealerships-by-letter {
	border: solid 1px maroon;
	width: 860px;
	margin-left: auto;
	margin-right: auto;
}

.dealerships-by-location {
	padding-bottom: 20px;
}

.dealerships-by-location select {
	width: 300px;
}

.search_main_top, .search_main_bottom, .publish_top, .publish_mid_up,
	.publish_mid_down, .publish_bottom_up, .publish_bottom_down {
	display: inline-block;
	text-align: left;
	margin-left: 4.9%;
}

.pub_bottom_down {
	float: right;
	margin-right: 4.9%;
}

.publish_main select {
	width: 150px;
}

.publish_main input {
	width: 146px;
}

.publish_bottom_up input {
	width: 0;
}

#proba {
	width: 100%;
}

.search_main {
	width: 55.6%;
	text-align: center;
	margin-left: 21.4%;
	margin-right: 21.4%;
}

.search_main_top select, .search_main_bottom select {
	width: 170px;
	margin: 10px;
}

.search_main_bottom input {
	width: 166px;
	margin: 10px;
}

.search_main_top h4, .search_main_bottom h4 {
	margin-left: 10px;
}

#bike_type, #bike_gears, #space, #model_bmw, #model_fiat {
	display: none;
}

/* Full-width input fields */
.sign_form input[type=text], .sign_form input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

/* Set a style for all buttons */
.sign_form button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

.sign_form button:hover {
	border: 2px solid maroon;
	padding: 12px 18.5px 12.6px 18.5px;
}

.sign_form .button_enter, .sign_form .button_reg {
	margin-top: 7%;
}

/* Extra styles for the cancel button */
.sign_form .cancelbtn {
	background-color: #f44336;
}

img.avatar {
	width: 40%;
	border-radius: 50%;
}

.container {
	padding: 16px;
}

span.psw {
	float: right;
	padding-top: 16px;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	/* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: red;
	cursor: pointer;
}

/* Add Zoom Animation */
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@
-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)
}

to {
	-webkit-transform: scale(1)
}

}
@
keyframes animatezoom {
	from {transform: scale(0)
}

to {
	transform: scale(1)
}

}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}
	.cancelbtn {
		width: 100%;
	}
}